@font-face {
    font-family: vcr;
    src: url(font/VCR_OSD_MONO_1.001.ttf);
}

body {
    background-color: rgb(0, 0, 0);
    line-height: 1.6;
    margin-block: 70px;
}

header {
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: vcr;
}

h1 {
    text-align: center;
    color: white;
    font-family: vcr;
}

h2 {
    text-align: center;
    color: white;
    font-family: vcr;
}

h3 {
    text-align: center;
    color: white;
    font-family: vcr;
}
